<div class="grid grid-cols-6 gap-4 mx-auto">
     <%= form_with url: types_path, method: :get, local: true, class: "col-span-6 bg-purple-600 flex items-center justify-between" do%>
          <%= label_tag :search, "Search for Types"%>
          <div>
               <%= text_field_tag :search, params[:search]%>
               <%= submit_tag "Search", class: "bg-blue-300" %>
          </div>
     <%end%>

     <% @types.each do | type | %>
          <div class="p-3 bg-gray-400">
               <H2><%= link_to type.name, type_path(type)%></H2>
          </div>
     <%end%>
</div>

<%= paginate @types %>