<div class="grid grid-cols-6 gap-4 mx-auto">
     <% @pokemons.each do | pokemon | %>
          <div class="p-3 bg-gray-400">
               <H2><%= link_to pokemon.name, pokemon_path(pokemon)%></H2>
               <p>height:<%=pokemon.height %></p>
               <p>weight:<%=pokemon.weight %></p>
               <% pokemon.types.each do |type| %>
                    <p><%= link_to type.name, type_path(type) %></p>
               <%end%>
          </div>
     <%end%>
</div>

<%= paginate @pokemons %>