<!DOCTYPE html>
<html>
  <head>
    <title>RailsIntro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-slate-400 flex justify-between px-20 sticky top-0 text-3xl">
      <%= link_to "Home", root_path%>
      <%= link_to "Types", types_path%>
      <%= link_to "Moves", moves_path%>
      <%= link_to "About", about_path%>
    </nav>
    <main class="container mx-auto mt-2 px-5 flex-col items-center">
      <%= yield %>
    </main>
  </body>
</html>
